@import '../../../../client/scss/common';

.input {
	padding: 0;
	margin: 0;
	background: none;
	outline: none;
	@include defaultFontSize();
	border: 2px solid $gray500;

	&:hover {
		cursor: pointer;
	}

	&, &.regular {
		padding: 10px 15px;
	}

	&.medium {
		padding: 15px 20px;
	}

	&.large {
		padding: 20px 30px;
	}

	&, &.primary {
		background: $white;
		@include defaultFontColor();
		transition: .3s border ease;

		&:focus {
			border-color: $primary;
		}
	}
}