@import '../../../../client/scss/common';

.button {
	padding: 0;
	margin: 0;
	background: none;
	outline: none;
	border: 2px solid $gray300;

	&:hover {
		cursor: pointer;
	}

	&, &.regular {
		padding: 10px 15px;
	}

	&.medium {
		padding: 15px 20px;
	}

	&.large {
		padding: 20px 30px;
	}

	&, &.primary {
		background: $primary;
		color: $white;
		border-color: $primary;
		transition: .3s background-color ease, .3s border-color ease;

		&:hover {
			background-color: lighten($primary, 10%);
			border-color: lighten($primary, 10%);
		}
	}
}