<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
			window.__PRELOADED_STATE__ = <%=JSON.stringify(initialState)%>;
		</script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Markazi+Text" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/dist/main.css" />
	</head>
	<body>
		<div id="application-container"><%=renderedComponent%></div>
		<script src="/dist/main.js"></script>
	</body>
</html>