// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------
$white: #fff;

$gray100: #F5F5F5;
$gray300: #E0E0E0;
$gray500: #9E9E9E;
$gray800: #424242;
$gray900: #212121;

$purple: #4F416A;
$lightPurple: #AD93D0;
$beige: #F5EEE6;

$secondaryPurple: #594666;
$secondardLightPurple: #867894;



// ----------------------------------------------------------------------------
// Fonts
// ----------------------------------------------------------------------------
$gotham: "Gotham SSm A", "Gotham SSm B";

$markazi: 'Markazi Text', serif;
$fancyFont: $markazi;

$lato: 'Lato', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$defaultFontFamily: $lato;

@mixin defaultFontFamily() {
	font-family: $defaultFontFamily;
}


$fontWeightRegular: 400;
$fontWeightMedium: 700;
$fontWeightBold: 900;

$defaultFontWeight: $fontWeightRegular;

@mixin defaultFontWeight() {
	font-weight: $defaultFontWeight;
}

$fontSizeTiny: 12px;
$fontSizeSmall: 14px;
$fontSizeRegular: 16px;
$fontSizeDisplay1: 18px;
$fontSizeDisplay2: 20px;
$fontSizeDisplay3: 24px;
$fontSizeDisplay4: 34px;
$fontSizeDisplay5: 45px;
$fontSizeDisplay6: 56px;

$defaultFontSize: $fontSizeRegular;

@mixin defaultFontSize() {
	font-size: $defaultFontSize;
}

$defaultFontColor: $gray900;
@mixin defaultFontColor() {
	font-color: $defaultFontColor;
}

@mixin defaultFont() {
	@include defaultFontWeight();
	@include defaultFontFamily();
	@include defaultFontSize();
	@include defaultFontColor();
}

$formItemSpacing: 10px;





