@import '../../../client/scss/common';

.link {
	color: #0000ff;
	text-decoration: none;

	&:hover {
		cursor: pointer;
		color: lighten(#0000ff, 10);
		text-decoration: none;
	}

	&.underline:hover {
		text-decoration: underline;
	}

	&.dark {
		color: $purple;

		&:hover {
			color: lighten($purple, 10);
		}
	}

	&.gray {
		color: $gray500;

		&:hover {
			color: darken($gray500, 10);
		}
	}

	&.tiny {
		font-size: $fontSizeTiny;
	}

	&.small {
		font-size: $fontSizeSmall;
	}

	&, &.regular {
		font-size: $fontSizeRegular;
	}

	&.medium {
		font-size: $fontSizeDisplay1;
	}

	&.large {
		font-size: $fontSizeDisplay2;
	}
}

