@import '../../../client/scss/common';

html, body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	@include defaultFont();
	line-height: 1.4em;
	background: $gray300;
	height: 100%;
}

#application-container {
	display: flex;
	flex-direction: column;
	flex: 1;
}