@import '../../../../client/scss/common';

.form-row {
	display: flex;
	flex-direction: row;

	&:not(:last-of-type) {
		margin-bottom: $formItemSpacing;
	}
}

.form-item {
	display: flex;
	flex: 1;

	&:not(:last-of-type) {
		margin-right: $formItemSpacing;
	}

	.input, .button {
		width: 100%;
	}
}