@import '../../../../client/scss/common';

h1, h2, h3, h4, h5, h6 {
	@include defaultFont();
	margin: 0;
	padding: 0;
	line-height: 1.4em;
}

h1.headline {
	font-size: $fontSizeDisplay6;
	font-weight: $fontWeightMedium;
	line-height: 2em;
	padding-bottom: 15px;

	&.underline {
		border-bottom: 1px solid $gray300;
		marginb-ttom: 15px;
	}
}

h2.headline {
	font-size: $fontSizeDisplay5;
	font-weight: $fontWeightMedium;
	line-height: 2em;
	padding-bottom: 15px;

	&.underline {
		border-bottom: 1px solid $gray300;
		marginb-ttom: 15px;
	}
}

h3.headline {
	font-size: $fontSizeDisplay4;
	font-weight: $fontWeightMedium;
	line-height: 1.4em;
	padding-bottom: 10px;

	&.underline {
		border-bottom: 1px solid $gray300;
		marginb-ttom: 10px;
	}
}

h4.headline {
	font-size: $fontSizeDisplay3;
	font-weight: $fontWeightMedium;
	line-height: 1.4em;
	padding-bottom: 10px;

	&.underline {
		border-bottom: 1px solid $gray300;
		marginb-ttom: 10px;
	}
}

h5.headline {
	font-size: $fontSizeDisplay2;
	font-weight: $fontWeightMedium;
	line-height: 1.4em;
	padding-bottom: 5px;

	&.underline {
		border-bottom: 1px solid $gray300;
		marginb-ttom: 5px;
	}
}